.linguistique {
    background-color: black;
    color: white;
}

.intro {
    border: 10px solid blue;
}

h1.presentation1 {
    color: purple;
    font-size: 18px;
    text-align: center;
}

h2.presentation {
    color: pink;
    font-size: 2rem;
    text-align: center;
}